<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label i18n="@@home">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="workouts" href="/tabs/workouts">
      <ion-icon aria-hidden="true" name="barbell"></ion-icon>
      <ion-label i18n="@@workouts">Workouts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="/tabs/history">
      <ion-icon aria-hidden="true" name="calendar"></ion-icon>
      <ion-label i18n="@@history">History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
