<!-- @if(authService.isAuthenticatedInitialized()) {
<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
} -->

<!-- <ion-app>
  <div *ngIf="authService.isAuthenticatedInitialized() && authService.currentUser() as user">
    <p>Welcome, {{ user.displayName }}!</p>
    <p>Email: {{ user.email }}</p>
    <ion-router-outlet></ion-router-outlet>
  </div>
  <div *ngIf="!authService.isAuthenticatedInitialized()">
    <p>Loading Authentication...</p>
  </div>
  <div *ngIf="authService.isAuthenticatedInitialized() && !authService.currentUser()">
    <p>Please Login</p>
  </div>
</ion-app> -->

<ion-app>
  <ion-router-outlet></ion-router-outlet>
</ion-app>
